
.ant-modal-confirm-info .ant-modal-confirm-body>.anticon{color:#1890ff}
.anticon.ant-notification-notice-icon-info{color:#1890ff}
.ant-tag-blue{color:#1890ff;background:#e6f7ff;border-color:#91d5ff}
.ant-tag-blue-inverse{background:#1890ff;border-color:#1890ff}
.ant-message-info .anticon,.ant-message-loading .anticon{color:#1890ff}
.ant-result-info .ant-result-icon>.anticon{color:#1890ff}
.ant-progress-inner:not(.ant-progress-circle-gradient) .ant-progress-circle-path{stroke:#1890ff}
.ant-progress-bg,.ant-progress-success-bg{background-color:#1890ff}
.ant-alert-info{background-color:#e6f7ff;border:1px solid #91d5ff}
.ant-alert-info .ant-alert-icon{color:#1890ff}
.ant-badge-status-processing{background-color:#1890ff}
.ant-badge-status-processing:after{border:1px solid #1890ff}
.ant-badge-status-blue{background:#1890ff}
.project-list .card-title a[data-v-1f670270]:hover{color:#1890ff}
.project-list .project-item a[data-v-1f670270]:hover{color:#1890ff}
.members a:hover span[data-v-1f670270]{color:#1890ff}
.monitor-view .monitor-progress-group[data-v-e7bda65e] .ant-progress:nth-child(2) .ant-progress-circle-trail{stroke:#e6f7ff!important}
.antd-pro-pages-forms-style-errorListItem[data-v-43897f51]:hover{background:#e6f7ff}